body {
    margin-top: 110px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instructions-container,
.note-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.35);
    border-radius: 4px;
    margin-bottom: 30px;
    width: 515px;
    height: fit-content;
}

.instructions-label,
.note-label {
    font-family: 'DM Serif Display';
    font-size: 22px;
    text-align: center;
    margin-top: 12px;
}

.note-label {
    color: red;
}

li {
    margin: 0px 20px 8px 10px;
}

.check-message {
    text-align: center;
}

.next-link-container {
    display: flex;
    justify-content: center;
}

.next-link {
    font-family: Onest;
    font-weight: bold;
    text-decoration: none;
    padding: 4px 18px;
    background-color: rgb(48, 48, 56);
    color: white;
    border: 2px solid rgb(48, 48, 56);
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 30px;
    cursor: pointer;
    transition:
        background-color 0.2s,
        color 0.2s;
}

.next-link:hover {
    color: rgb(48, 48, 56);
    background-color: white;
}

.next-link:active {
    color: white;
    background-color: rgb(106, 106, 118);
}

@media (min-width: 320px) and (max-width: 480px) {
    .instructions-container,
    .tips-container,
    .note-container {
        width: 335px;
        height: fit-content;
    }

    .instructions-label,
    .tips-label,
    .note-label {
        font-size: 21px;
        margin-bottom: -5px;
    }

    li {
        font-size: 15px;
        width: 280px;
        margin-bottom: 5px;
        margin-left: 0px;
    }

    .check-message {
        font-size: 15px;
        margin-top: -5px;
    }

    .next-link {
        font-size: 15px;
        padding: 4px 16px;
    }
}